<ion-card>
  <ion-card-header>
    <ion-grid>
      <ion-row class="ion-align-items-center ion-justify-content-end">
        <ion-col size="auto">
          <ion-avatar>
<!--            <ion-img *ngIf="userFullImagePath" [src]="userFullImagePath">-->
<!--            </ion-img>-->
          </ion-avatar>
        </ion-col>
        <ion-col >
          <ion-card-title style="font-size: 16px; font-weight: 400">Romanov Eugene</ion-card-title>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-button expand="block" size="small" fill="outline" color="success">Accept</ion-button>
        <ion-button expand="block" size="small" fill="outline" color="danger">Decline</ion-button>
      </ion-row>
    </ion-grid>
  </ion-card-header>
</ion-card>
